<div class="strong-box text-center">
<h3>Need Help With Recruiting?</h3>
<p>We focus SOLELY on helping chemistry and biotech companies find and attract the best talent. And we'll do it for FREE.</p>
<a href="/recruiting" class="btn btn-primary btn-lg">Yes, Tell Me More</a>
</div>