<div class="strong-box text-center">
<h3>From "yes!" to "oh crap"</h3>
<p>We're sharing everything we learned about building a biotech/nanotech start-up, from founding through sale.
We learned a lot and so will you.</p>
<form action="" method="post" id="newsletter-signup">
	<div class="input-group">
      <input type="email" class="form-control" placeholder="Enter your email address" required>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Send me lessons on growth</button>
      </span>
    </div><!-- /input-group -->
</form>
</div>