<footer id="footer" class="footer footer-page hide-on-menu">
    <div class="container">
        <div class="row">

            {{> widgets/footer-about}}
            {{> widgets/footer-tags}}
            {{> widgets/footer-newsletter}}
        </div>
        <div class="row copyright">
            <div class="col-sm-6">
                <p class="copyright"><a href="https://scibase.co">SciBase.co</a> &copy; Copyright 2017. All rights reserved.</p>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>

</footer>